@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap");

* {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #90c4ff8c;
}

header {
    display: flex;
    margin: 5%;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

nav {
    position: fixed;
    padding: 6px 45px;
    z-index: 100;
}

.menu-container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.group {
    display: flex;
    padding-right: 15%;
    align-items: center;
    position: relative;
}

.input {
    width: 300px;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid #0d0c22a2;
    border-radius: 8px;
    outline: none;
    font-family: "Poppins", serif;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
}

.input::placeholder {
    color: #47474d;
}

.icon {
    position: absolute;
    left: 1rem;
    color: #000000;
    width: 1rem;
    height: 1rem;
}

.logo {
    width: 140px;
    margin-right: 500px;
}

.menu-toggle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute; 
  right: -40px; 
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle div {
  width: 35px;
  height: 5px;
  border-radius: 5px;
  background-color: black;
  transition: 0.4s;
}

.menu-toggle.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 9px);
}

.menu-toggle.open .bar2 {
  opacity: 0;
}

.menu-toggle.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -2px;
  border-left: 2px solid black;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.side-menu a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  background-color: #f1f1f1;
}

.side-menu.open {
  width: 250px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.course {
    padding: 20px 0;
    margin-bottom: 20px;
}

.course h2 {
    margin: 0;
    color: #000000;
}

.course p {
    margin: 10px 0;
    color: #555;
}

button {
  width: 140px;
  border: 2px solid black;
  background-color: #3377ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease;
  border-width: 2px;
  box-shadow: 1px 5px 0 0 #0e285d;
  }
  
  button:hover {
    transform: translateY(-4px);
    box-shadow: 1px 9px 0 0 #0e285d;
  }
  
  button:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 0 0 #0e285d;
  }

  #noResultsMessage {
    display: none;
}


  #noResultsMessage p {
    display: flex; 
    text-align: center; 
    color: rgb(0, 0, 0); 
    font-weight: 600; 
    font-size: 30px;
    justify-content: center;
  }

  #noResultsMessage img {
    margin-bottom: 10%;
    margin-left: 34%;
    animation: animate 1s linear alternate-reverse infinite;
    transition: 1s ease;
  }

  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.04);
    }
  }

  strong {
    margin-right: 12px;
  }