@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  line-height: 100%;
}

img {
  width: 100%;
  border-radius: inherit;
}

.boton {
  height: 44px;
  padding: 10px 15px;
  background: rgb(45, 144, 231);
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: 2px solid black;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(255, 255, 255);
  color: #000000;
}

strong {
  font-size: 15px;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

nav {
  position: fixed;
  padding: 6px 65px;
  z-index: 100;
}

.menu-container {
  padding: 10px 10%;
}

.header {
  width: 100%;
  height: 100vh; 
  background-color: rgba(72, 197, 255, 0.116);
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px; 
}


nav ul li a {
  color: #000000; 
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(103, 177, 241);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

button.custom-button {
  color: #000000; 
  text-decoration: none;
  font-size: 18px;
  position: relative;
  border: none; 
  background: none; 
  cursor: pointer; 
}

button.custom-button::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(103, 177, 241);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

button.custom-button:hover::after {
  width: 100%;
}

.header-texto {
  padding: 10px 10%;
  font-size: 24px;
}

.header-texto h1 {
  font-size: 58px;
  margin-top: 20px;
}

.header-texto p {
  font-size: 20px;
}

.header-texto span {
  background: -webkit-linear-gradient(125deg, rgb(182, 0, 0), rgb(167, 156, 13), rgb(44, 146, 19));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 3s infinite linear;
  -webkit-text-stroke: 2px black; 
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

#slider {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 70px;
  margin-right: 160px;
  transform-style: preserve-3d;
  perspective: 1400px;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  transform: translateX(-83px);
  cursor: pointer;
  opacity: 0.4;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 3px;
  color: white;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 400ms ease;
}

/* Anterior Slide */

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  transform: translate3d(0%, 0, 0px);
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
}

/* Siguiente Slide */

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  transform: translate3d(20%, 0, -100px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.3), 0 2px 2px;
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  transform: translate3d(-20%, 0, -100px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Siguiente del Siguiente Slide */

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slidel,
#s5:checked ~ #slide2 {
  transform: translate3d(40%, 0, -250px);
  box-shadow: 0 1px 4px â˜ rgba(0, 0, 0, 0.4);
}

/* Anterior del Anterior Slide */

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  transform: translate3d(-40%, 0, -250px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.menu-btn {
  width: 50px;
  display: none;
}

main {
  width: 100%;
}

.second, .last {
  width: 100%;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.second > h2, .last > h2, .third > h2 {
  display: flex;
  font-size: 48px;
  justify-content: center;
  text-align: center;
}

.second > p, .last > p {
  padding: 15px 100px;
  text-align: center;
  width: 80%;
}

.second > .cards, .last > .cards {
  width: 100%;
  display: inherit;
  justify-content: space-between;
  padding: 100px 0;
}

.second .cards .card {
  width: 30%;
  background: rgb(236, 236, 236);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid black;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

.long-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 0;
  padding: 50px;
}

.long-card .title {
  width: 50%;
  line-height: 10px;
}

.long-card .title h3 {
  font-size: 48px;
  padding: 20px 0;
}

.long-card .image img {
  width: 90%;
  border: 2px solid black;
  border-radius: 5%;
}

.image {
  position: absolute;
  padding-left: 50%;
}

.last .cards .card {
  width: 30%;
  background: white;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 2px solid black;
  padding: 30px 10px 10px 10px;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 30px;
}

.last .cards .card h4 {
  text-align: left;
}

.last .card .cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: 20px;
}

.last .cards .card p:first-child {
  padding: 5px;
  color: white;
  border-radius: 8px;
}

.circle {
  background-color: white;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 2px solid black;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-2 {
  position: relative;
  background-color: rgb(228, 228, 228);
   width: 100px;
   height: 100px;
   border: 2px solid black;
   border-radius: 50%;
   overflow: hidden;
   margin: 0 auto;
   right: 260px;
   bottom: 10px;
 }
 
 .circle-2 img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

.card {
  transition: transform 0.3s ease;
}

.card h4 {
  font-size: 20px;
}

.card p {
  padding: 12px;
  line-height: 20px;
}

.card:hover  {
  transform: translateY(-10px); 
}

.text {
  position: relative;
  margin-top: 200px;
}

.card-2 {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  max-width: 290px;
  background-color: #fff;
  z-index: 9999;
}

.header-card {
  padding: 1.25rem 1rem 1rem 1rem;
}

.content-card {
  margin-top: 0.75rem;
  text-align: center;
}

.title-card {
  color: #000000;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.actions {
  margin: 0.8rem 1rem;
}

.enviar {
  width: 100%;
  border: 2px solid black;
  background-color: #0050ec;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.1s ease;
  box-shadow: 1px 5px 0 0 #0e285d;
  border-width: 2px;
}

.enviar:hover {
  transform: translateY(-4px);
  box-shadow: 1px 9px 0 0 #0e285d;
}

.enviar:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0 0 #0e285d;
}

.enviar-2 {
  width: 330px;
  border: 2px solid black;
  background-color: #0050ec;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 2em;
  cursor: pointer;
  transition: 0.1s ease;
  border-width: 2px;
  box-shadow: 1px 5px 0 0 #0e285d;
}

.enviar-2:hover {
  transform: translateY(-4px);
  box-shadow: 1px 9px 0 0 #0e285d;
}

.enviar-2:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0 0 #0e285d;
}

/* Tarjeta de Volver */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid black;
}

.show-popup {
  display: block !important;
}

.close {
  position: relative;
  top: -4px;
  right: 4px;
  font-size: 34px;
  cursor: pointer;
  transition: 0.2s ease;
  color: rgba(0, 0, 0, 0.514);
}

.close:hover {
  color: black;
}

/* Fin de la Tarjeta de Volver */

#footer {
  width: 100%;
  height: 20vh; 
  background-color: rgba(129, 129, 129, 0.212);
}

.footer-texto {
  padding: 10px 10%;
  padding-left: 38%;
  font-size: 10px;
}

.footer-texto p {
  font-size: 17px;
  text-align: center;
  color: #2e3033;
}

.footer-texto img {
  filter: invert(100%);
}

.footer-texto img {
  width: 300px;
  padding-top: 32px;
  margin: auto;
}

