@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700,800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../IMAGES/OIG (4).jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    position: relative;
  }
  
  body::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(16, 40, 63, 0.4) 60%,
      rgba(0, 0, 0, 0)
    );
  }

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    border: 2px solid black;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.5rem;
    max-width: 290px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
  }
  
  .header {
    padding: 1.25rem 1rem 1rem 1rem;
  }
  
  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2feee;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    animation: animate .6s linear alternate-reverse infinite;
    transition: .6s ease;
  }

  @keyframes animate {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.09);
    }
  }
  
  .image svg {
    color: #0270ff;
    width: 2rem;
    height: 2rem;
  }
  
  .content {
    margin-top: 0.75rem;
    text-align: center;
  }
  
  .title {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  
  .message {
    margin-top: 0.5rem;
    color: #595b5f;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .actions {
    margin: 0.8rem 1rem;
  }
  
  .enviar {
    width: 100%;
    border: 2px solid black;
    background-color: #0050ec;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 2em;
    cursor: pointer;
    transition: 0.1s ease;
    box-shadow: 1px 5px 0 0 #0e285d;
    border-width: 2px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
  }
  
  .enviar:hover {
    transform: translateY(-4px);
    box-shadow: 1px 9px 0 0 #0e285d;
  }