@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700,800&display=swap");

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.back-button {
    text-align: center;
    margin-top: 10px;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px; 
}

h2, h4 {
    margin: 0; 
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.back-button a:hover {
    background-color: #0056b3;
}


.header-container {
    background-color: black;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0%;
}

.header {
    text-align: center;
}

.header h1 {
    margin: 0;
    padding: 0;
}